<div class="modal">
    <form name="careForm" ng-submit="saveCare()">

        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Facility</span>
                    <input type="text" ng-model="care.facilityName" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input type="text" ng-model="care.location">
                </label>
                <label class="item item-input">
                    <span class="input-label">Reason</span>
                    <input type="text" ng-model="care.reason" required>
                </label>
                <div class="item item-toggle">
                    <span class="input-label" style="margin-left: -7px;">Overnight Stay</span>
                    <label class="toggle" style="top: 16px;">
                        <input type="checkbox" ng-model="care.overnight">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <label class="item item-input">
                    <span ng-show="!care.overnight" class="input-label">Date</span>
                    <span ng-show="care.overnight" class="input-label">From</span>
                    <input type="date" ng-model="care.start" required>
                </label>
                <label ng-show="care.overnight" class="item item-input">
                    <span class="input-label">To</span>
                    <input type="date" ng-model="care.end">
                </label>
            </div>
        </ion-content>

        <ion-header-bar class="bar-secondary">
            <button class="button button-clear" ng-click="closeCareModal()" type="button">Cancel</button>
            <h1 class="title">{{ care.facilityName || 'New Care' }}</h1>
            <button ng-disabled="!careForm.$valid" class="button button-clear" type="submit"><b>Save</b></button>
        </ion-header-bar>

    </form>
</div>
