<div class="modal" xmlns="http://www.w3.org/1999/html">
    <form name="careListForm" ng-submit="assignCare()">

        <ion-content>
            <div ng-hide="cares.length" class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios7-information-outline"></i>
                <p>You don't have any care events to assign to.</p>
            </div>

            <div class="list">
                <div class="item item-input-inset" ng-show="cares.length">
                    <input class="item-input-wrapper" type="text" autocorrect="off"
                           placeholder="Search" ng-model="query" reset-field>
                </div>
                <label class="item item-radio" ng-repeat="c in cares | filter:query">
                    <input type="radio" name="meaningless" ng-model="child.careId" value="{{ c._id }}">
                        <div class="item-content">
                            <h2 ng-show="c.location">{{c.facilityName}} in {{ c.location }}</h2>
                            <h2 ng-show="!c.location">{{c.facilityName}}</h2>
                            <h3>{{c.start | date:'mediumDate'}} to {{ (c.end | date:'mediumDate') || 'Present'}}</h3>
                            <h3>{{c.reason}}</h3>
                            <button ng-show="child.careId == c._id" class="button button-clear" ng-click="unAssign()" type="button">Unassign</button>
                        </div>
                        <i class="radio-icon ion-ios7-checkmark-outline"></i>
                    </input>
                </label>
            </div>
        </ion-content>

        <ion-header-bar class="bar-secondary">
            <button class="button button-clear" ng-click="closeCareListModal()" type="button">Cancel</button>
            <h1 class="title">Select Care</h1>
            <button class="button button-clear" type="submit"><b>Assign</b></button>
        </ion-header-bar>

    </form>
</div>