<ion-view title="Notes">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios7-arrow-back" ng-cloak ng-show="!care && !practitioner"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="openNoteModal()"><b>Add</b></button>
    </ion-nav-buttons>

    <ion-content>

        <div ng-hide="notes.length" class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios7-information-outline"></i>
            <p>You don't have any notes.</p>
            <p>You can add a new note by clicking the Add button above.</p>
        </div>

        <div ng-show="care" class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios7-information-outline"></i>
            <p>The notes below are assigned to care event <b>{{care.facilityName}}</b>.</p>
        </div>

        <div ng-show="practitioner" class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios7-information-outline"></i>
            <p>The notes below are assigned to practitioner <b>{{practitioner.name}}</b>.</p>
        </div>

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <div class="list">
            <div class="item item-input-inset" ng-show="showSearch && notes.length">
                <input class="item-input-wrapper" type="text" autocorrect="off"
                       placeholder="Search" ng-model="query" reset-field>
            </div>
            <a class="item item-icon-left item-icon-right" ng-repeat="n in notes | filter:query" href="#/tab/note-details/{{n._id}}">
                <i class="icon ion-ios7-compose-outline"></i>
                <h2>{{ n.content | showNoteHeader }}</h2>
                <h4>{{ n.content | showNoteBodyStart }}</h4>
                <h4>Created on {{(n.date | date:'mediumDate')}} at {{(n.date | date:'shortTime')}}</h4>
                <h4 ng-show="n.practitioner" class="light-colored">Assigned to <b>{{ n.practitioner.name }}, {{ n.practitioner.specialty }}</b></h4>
                <h4 ng-show="n.care" class="light-colored">Assigned to <b>{{n.care.facilityName}}</b></h4>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </ion-content>
</ion-view>

