<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sawacare.patient" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>SawacarePatient</name>
    <description>
        Sawacare Patient
    </description>
    <author email="info@sawacare.com" href="http://sawacare.com/">
        Sawacare Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
</widget>
